<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/medicine.css">
    <script type="text/javascript" src="/js/show.js"></script>
    <script type="text/javascript" src="/js/animateFlex.js"></script>
</head>
<body>
    <div class="display">
        <div class="pics">
            <ul id="picList">
                <li><a href="#"><img src="/img/animalImg/1.jpg" alt=""></a></li>
                <li><a href="#"><img src="/img/animalImg/2.jpg" alt=""></a></li>
                <li><a href="#"><img src="/img/animalImg/3.jfif" alt=""></a></li>
                <li><a href="#"><img src="/img/animalImg/4.jfif" alt=""></a></li>
                <li><a href="#"><img src="/img/animalImg/5.jpg" alt=""></a></li>
            </ul>
        </div>
        <div class="details1">
            <div class="dHeader">动物类药材知多少
            <div class="arrowIcon">
                <div class="downArrow arrow"></div>
                <div class="upArrow arrow"></div>
            </div>
        </div>
            <div class="describe">
                动物类药材，是指源于动物全体﹑器官、组织、提取物或加工品的资源性产品，与植物药、矿物药共同构成了中药材应用体系。我国从古到今都十分重视动物类药材的开发与利用，诞生了六神丸、片仔癀、乌鸡白凤丸、安宫牛黄丸等经典名药。但随着我国经济发展与城市化进程加速，野生动物资源快速枯竭，导致近20年来动物类中药材在各版《中华人民共和国药典》（以下简称《中国药典》）目录中收载的数量不断减少。从2000年版《中国药典》到2020年版《中国药典》，动物类中药材收载比重已由9.47%下降到5.43%。
            </div>
        </div>
    </div>
</body>
<script>

flex('details1')
display("picList");
</script>
</html>