<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/global.css">
    <link rel="stylesheet" href="../../../css/medicine.css">
    <script type="text/javascript" src="../../../js/show.js"></script>
    <script type="text/javascript" src="../../../js/animateFlex.js"></script>
</head>
<body>
    <div class="display">
        <div class="pics">
            <ul id="picList3">
                <li><a href="#"><img src="../../../img/coalImg/1.jpeg" alt=""></a></li>
                <li><a href="#"><img src="../../../img/coalImg/2.jpg" alt=""></a></li>
                <li><a href="#"><img src="../../../img/coalImg/3.jpg" alt=""></a></li>
                <li><a href="#"><img src="../../../img/coalImg/4.jpg" alt=""></a></li>
                <li><a href="#"><img src="../../../img/coalImg/5.jpg" alt=""></a></li>
            </ul>
        </div>
        <div class="details3">
            <div class="dHeader">矿物类药材知多少
            <div class="arrowIcon">
                <div class="downArrow arrow"></div>
                <div class="upArrow arrow"></div>
            </div></div>
            <div class="describe">
                矿物类中药是可供药用的原矿物药（如朱砂、炉 甘石、自然铜等）、矿物原料的加工品（如芒硝、 轻粉等）或动物或动物骨骼的化石（如石燕、龙 骨、浮石等）。<br>
                历代中药学专著中，将收载的药用矿物多归为“金石”类，成书于战国的《山海经》中记载了十余种药用矿物；汉代《五十二病方》中共计有药用矿物20余种；唐代《新修本草》收录的药用矿物达80余种；至明代李时珍编著的《本草纲目》中金石药材已达上百种。<br>
                某些矿物独特的物理化学性质，使其具有防病、治病之用，通过内服或外用可起到清热理血、安神补益、利水渗湿、化痰止咳、消肿解毒、祛腐生肌和保健强身等功效。
            </div>
        </div>
    </div>
</body>
<script>

flex('details3')
display("picList3");
</script>
</html>