<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/medicine.css">
    <script type="text/javascript" src="/js/show.js"></script>
    <script type="text/javascript" src="/js/animateFlex.js"></script>
</head>
<body>
    <div class="display">           
        <div class="pics">
        <ul id="picList2">
            <li><a href="#"><img src="/img/plantImg/1.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/plantImg/2.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/plantImg/3.jpg!w800" alt=""></a></li>
            <li><a href="#"><img src="/img/plantImg/4.jpg" alt=""></a></li>
            <li><a href="#"><img src="/img/plantImg/5.jpeg" alt=""></a></li>
        </ul>
    </div>
    <div class="details2">
        <div class="dHeader">植物类药材知多少
        <div class="arrowIcon">
            <div class="downArrow arrow"></div>
            <div class="upArrow arrow"></div>
        </div></div>
        <div class="describe">
            植物药，顾名思义，是以植物初生代谢产物如蛋白质、多糖和次生代谢物如生物碱、酚类、萜类为有效成分的原料药、制剂。市场上植物来源的中药、中成药均在植物药之列。植物药在天然药物中占主导地位。由于其在治疗上的独特优势（来自大自然，毒副作用小；在治疗疑难杂症上有广阔的前景）而倍受重视。<br>
            一些根茎类药材，如丹参、白芷、前胡、牛膝、射干、虎杖、商陆、葛根、土伏苓、玄参等，应趁鲜切成片、块或段，再进行干燥；果大不易干透的果实类药材，如宣木瓜、酸橙、佛手等，应先切开后再干燥；树皮类药材如杜仲、厚朴、肉桂等也应采后趁鲜切成块或片或卷成筒，再进行干燥。<br>
            德国的现代植物药指的就是在治疗中所选用的植物提取物，它既可以是植物整体的提取物，也可以是部分提取物，通常是复合的化学物质。德国从1976年开始将植物药定义为药物。目前这一定义已被美国植物协会采用。
        </div>
    </div></div>
</body>
<script>

flex('details2')
display("picList2");
</script>
</html>